@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-work {
  font-family: "Open Sans", sans-serif;
  
  
}

/* shared style */
.display-flex{
    display: flex;
   
}
/* dark 02 */
.text-gray{
     color: #727272;
}
.text-light-gray{
    color: #727272;
}
.text-color-rgb{
   background-color: rgba(255, 210, 14, 0.1);
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.bgc-color{
    color: #FF900E;
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
  
}

/* header style */

/* nav style */

.nav-bar{
   
    justify-content: space-between;
    align-items: center;
    /* margin-left: 228px;
    margin-top: 50px; */
}
.list-style{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
   
    
    
}
.anchor-style{
    text-decoration: none;
    
}
.nav-bar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 864px;
    margin: 0 auto;
    text-align: center;
}
.banner-heading{
    font-weight: 800;
    font-size: 5rem;
    margin-top: 205px;
}
.banner-description{
    font-size: 1rem;
    line-height: 26px;
}
.banner img{
    max-width: 1140px;
    margin-top: 50px;
}
.banner-image{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.grid-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width:1318px;
    
}
.grid-container .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    gap: 24px;
    margin-top: 85px;
    margin-left: 50px;
   
    
   
}

.Features-heading{
    font-weight: 800;
    font-size: 2.8rem;
}
.features-content{
    font-size: 1rem;
   line-height: 1.2rem;
}
.grid-feature{
    max-width: 537PX;
}

.sec-container{
    display: flex;
    max-width: 1140px;
    gap: 54px;
    margin: 140px;
}
.feature-heading{
    font-size: 1.2rem;
    color: #131313;
}
.feature-details{
    font-size: 1rem;
    line-height: 1.35rem;
}
.feature-image{
    max-width: 800px;
    position: relative;
}
.feature-image img{
    width: 100%;
}
.experience-box{
    position: absolute;
    bottom: -40px;
    left: 20px;
    background-color: #FF900E;
    padding: 30px 20px;
    border-radius: 8px;
    border: none;
    max-width: 258px;
}
.exp-heading{
    color: #FFFFFF;
    font-size: 2rem;
}
.exp-para{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3ren;
    line-height: 20px;
}
.fact{
 max-width: 540px;
 padding: 20px;
 margin: 60px;
}
.article-fact{
    font-size: 2.5rem;
    margin-bottom: 24px;
}
.article-description{
    font-size: 1rem;
    
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 1264px;
    
}
.footer-heading{
    font-size: 2.5rem;
}
.footer-para{
    font-size: 1.2rem;
}

/* responsive  */
@media screen and (max-width:576px) {

   .nav-bar,.nav-links{
    flex-direction: column;
   }
    .sec-container{
       display: block;
        margin: 40px 20px;
    }
     .feature-content,
   .feature-image{
       width: 100%;
   }
  

}
